/* ===== 페이퍼로지 ===== */
/* 국문 Heading Title */
@font-face {
  font-family: 'heading';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

/* ===== 여기어때 잘난고딕체 ===== */
/* 영문 Heading Title */
@font-face {
  font-family: 'heading';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A;
}



/* ===== 프리텐다드 ===== */
/* 국영문 공통 Title 및 body 본문 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}